$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$nav-wrapper-height-xs: 60px;
$nav-wrapper-height-md: 100px;
$site-title-text-shadow: 4px 0px 1px #000;

$colors: (
    primary: #1df11d,
    nav-bg-color: #61bf0d,
    text-color-1: #fff,
    text-color-2: #fff,
    bg-color-1: #b5d280,
    bg-color-2: #5fe610,
    bg-color-3: #d9e488,
    bg-color-4: #0e1c0a,
    title-bg: RGBa(61, 99, 40, 0.5),
    home-bg-overlay: #69b500,
    button-bg-color: #7ef814,
    button-text-color: #0e1c0a,
    light-green-1: #5fe610,
    light-green-2: #8ee630,
    light-green-3: #aaff7f,
    dark-green-1: #24481a,
    row-6-item-1: #558a16,
    row-6-item-2: #afc614,
    row-6-item-3: #6cac00,
    row-6-item-4: #69b500,
    row-6-item-5: #619010,
    row-6-item-6: #cbe162,
    row-6-item-7: #6ca500,
    row-6-item-8: #70ab01,
    row-6-item-9: #629a01,
    row-6-item-10: #cbe162
);
