@import "./var";
@import "./mixin";
@import "./text";

@import "./component/header";
@import "./scope/home";

html {
    background: rgb(18, 45, 10);
    background: linear-gradient(
        90deg,
        rgba(18, 45, 10, 1) 0%,
        rgba(38, 62, 5, 1) 40%,
        rgba(38, 62, 5, 1) 60%,
        rgba(18, 45, 10, 1) 100%
    );
}

html,
body,
#root,
main {
    height: 100%;
    font-family: "Gilroy";
}

#map-wrapper {
    position: relative;
    height: 0;
}

#map-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#contact-us {
    max-width: 1366px;
    margin: 0 auto;
}

#site-map {
    max-width: 1366px;
    margin: 0 auto;
}
